{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam voluptatibus ipsam eligendi quaerat aperiam ipsum facere at, vel reiciendis aut consectetur debitis illo quas est. Delectus non impedit iusto necessitatibus atque, iure porro similique cum aperiam modi incidunt animi quo quis perspiciatis commodi soluta dolores id fuga quaerat nihil accusamus quos. Itaque ad nam vel voluptatum reprehenderit, quod sequi voluptate in numquam laudantium iste veritatis alias adipisci nulla ut sunt fugit rem mollitia praesentium vitae modi ipsa. Sunt quae corporis cumque laborum? Et impedit illum animi, sit dicta dolorum commodi, ipsum autem facilis totam perspiciatis non laborum nisi, facere eos?

        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary"> Signin</a>
            <a href="/signup/" class="btn btn-dark"> Signup</a>
        </div>
    </section>
</main>



{% endblock %}